{% extends "layout.html" %}
{% block content %}
    <p>Home page!</p>
    <table>
        <tr>
            <td>Interface</td>
            <td>Port</td>
            <td>Address</td>
            <td>Private Key</td>
            <td>Enabled</td>
            <td>Actions</td>
        </tr>
    {% for interface in interfaces %}
        <tr>
            <td>{{ interface.number }}</td>
            <td>{{ interface.port }}</td>
            <td>{{ interface.address }}/{{ interface.netmask }}</td>
            <td>{{ interface.private_key }}</td>
            <td><a href="#">{{ interface.enabled }}</a></td>
            <td><a href="{{ url_for('interface_edit', id=interface.id) }}">Edit</a> / <a href="{{ url_for('interface_delete', id=interface.id) }}">Delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}
