{% extends "layout.html" %}
{% block content %}
    <p>Are you sure you want to delete the following interface?</p>
    <ul>
        <li><strong>Interface:</strong> wg{{ interface.number }}</li>
        <li><strong>Port:</strong> {{ interface.port }}</li>
        <li><strong>Address:</strong> {{ interface.address }}/{{ interface.netmask }}</li>
        <li><strong>Private Key:</strong> {{ interface.private_key }}</li>
    </ul>
    <a href="{{ url_for('home') }}">Cancel</a>
    <form action="{{ url_for('interface_delete', id=interface.id) }}" method="post">
        <input type="submit" value="Delete">
    </form>
    <a href="#">Confirm</a>
{% endblock content %}
